@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800");

.wrapper {
  font-family: "Open Sans", Helvetica, sans-serif;
  height: 100%;
  position: relative;
  color: #fff;
  overflow-x: hidden;

  .bg-image {
    width: 100%;
    height: auto;
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .top {
      margin: 3% 4%;

      .left-side {
        text-transform: uppercase;
      }

      .right-side {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-transform: uppercase;

        span {
          display: inline-block;
        }

        .discover-text {
          margin-right: 20px;
        }

        .menu-icon-container {
          div {
            width: 25px;
            height: 1.5px;
            background-color: #fff;
            margin: 6px 0;
          }

          .bar2 {
            width: 12.5px;
            transform: translateX(12.5px);
          }
        }
      }
    }

    .social {
      position: absolute;
      display: inline-block;
      transform: rotate(-90deg);
      left: -9%;
      top: 57%;
      text-transform: uppercase;
      font-size: 1rem;

      span {
        margin-right: 21%;
      }

      span:last-child {
        margin-right: 0;
      }
    }

    .title-wrapper {
      position: relative;
      height: 550px;

      .title {
        font-weight: 800;
        text-align: right;
        position: absolute;
        right: 4%;
        top: 26%;

        & div:first-child {
          font-size: 10rem;
          height: 12rem;
        }

        & div:nth-child(2) {
          font-size: 5rem;
          color: #000;
        }

        .scroll-indicator {
          text-align: center;
          position: relative;

          .inner-text {
            position: relative;
            font-weight: 400;
            left: 13%;
            bottom: 45px;
            font-size: 0.85rem;
          }

          svg {
            width: 100px;
            height: 100px;
            transform: rotate(90deg);

            #circle-text {
              font-size: 0.8rem;
              font-weight: 400;
            }

            #indicator {
              stroke-dasharray: 252.327px, 262.327px;
            }
          }

          .vertical-line {
            content: "";
            position: relative;
            top: -14px;
            right: -54%;
            width: 1px;
            height: 0;
            background-color: #fff;
          }
        }
      }
    }

    .action-wrapper {
      max-width: 800px;
      float: right;
      overflow: hidden;
      position: relative;
      top: 50%;
      max-height: 320px;
      height: 100%;

      .name {
        width: 675px;
        font-size: 5rem;
        font-weight: 800;

        .first {
          transform: matrix(1, 0, 0, 1, -192, 0);
        }

        .last {
          //   padding-left: 40px;
          transform: matrix(1, 0, 0, 1, 670, 0);
        }
      }

      .action-button {
        width: 93%;
        margin-top: 25px;
        position: relative;
        text-align: center;

        button {
          -webkit-appearance: none;
          border: none;
          background: none;
          color: white;
          width: 250px;
          height: 50px;
          font-size: 20px;
          padding: 0;
          margin: 0;
          outline: none;
        }

        div {
          height: 100%;
          line-height: 2.5;
          position: relative;
        }

        span {
          opacity: 0;
        }

        .top-side-line::before {
          content: "";
          position: absolute;
          top: 0;
          right: 50%;
          width: 0;
          height: 0;
          border: 1px solid white;
          border-right: none;
          border-bottom: none;
          transition: height 0.15s ease-out 0.15s, width 0.15s ease-out;
        }

        .top-side-line::after {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          width: 0;
          height: 0;
          border: 1px solid white;
          border-left: none;
          border-bottom: none;
          transition: height 0.15s ease-out 0.15s, width 0.15s ease-out;
        }

        .bottom-line::before {
          content: "";
          position: absolute;
          left: 0%;
          bottom: 0;
          width: 0;
          border: 1px solid white;
          border-top: none;
          border-left: none;
          border-right: none;
          transition: width 0.15s ease-out 0.3s;
        }

        .bottom-line::after {
          content: "";
          position: absolute;
          right: 0%;
          bottom: 0;
          width: 0;
          border: 1px solid white;
          border-top: none;
          border-left: none;
          border-right: none;
          transition: width 0.15s ease-out 0.3s;
        }
      }

      .animate-lines {
        button:hover {
          background-color: whitesmoke;
          color: black;
          transition: background-color 0.5s ease-out;
        }

        span {
          text-transform: uppercase;
          font-size: 0.9rem;
          opacity: 1;
          transition: opacity 0.5s ease-out 0.2s;
        }

        .top-side-line::before {
          width: calc(50% - 1px);
          height: calc(100% - 2px);
        }
        .top-side-line::after {
          width: calc(50% - 1px);
          height: calc(100% - 2px);
        }
        .bottom-line::before {
          width: 50%;
        }

        .bottom-line::after {
          width: 50%;
        }
      }
    }
  }
}
