<div class="wrapper" (scroll)="scrollHandler($event)">
  
  <div class="bg-image" [ngClass.lt-md]="{'bg-image-lt-md': true}"></div>

  <div class="content">

    <div fxLayout="row" class="top" fxLayoutAlign="start center">
      <div fxFlex="50%" class="left-side">
        <div fxLayout="row">
          <span class="logo">
            Lola
          </span>
        </div>
      </div>

      <div fxFlex="50%" class="right-side">
        <div class="discover-text" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px" [routerLink]="[ '/discover' ]">
          <div>
            Discover
          </div>
          <div class="menu-icon-container">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
        </div>
      </div>
    </div>


    <div class="title-wrapper">
      <div class="title" [ngClass.md]="{'title-md': true}" [ngClass.sm]="{'title-sm': true}" [ngClass.xs]="{'title-xs': true}">
        <div>LOLA</div>
        <div>PRODUCTIONS</div>

        <div class="scroll-indicator">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" [ngClass.md]="{'svg-md': true}"
            [ngClass.sm]="{'svg-sm': true}" [ngClass.xs]="{'svg-xs': true}">
            <circle #indicator id="indicator" stroke="#fff" stroke-width=".7" stroke-dashoffset="0" fill="none" cx="50" cy="50" r="40" />
            <g id="scroll-text" data-name="scroll-text">
              <text x="20" y="55" fill="#fff">SCROLL</text>
            </g>
          </svg>
          <div class="vertical-line" #verticalLine> </div>
        </div>
      </div>

      <div class="social" fxHide.lt-md>
        <span>Instagram</span>
        <span>Twitter</span>
        <span>Facebook</span>
      </div>
    </div>


    <div class="action-wrapper">
      <div class="name">
        <div class="first" #first>Zach</div>
        <div class="last" #last>Prestige</div>
      </div>

      <div class="action-button" #actionButton>
        <button [routerLink]="[ '/presentation' ]" routerLinkActive="active">
          <div class="top-side-line">
            <div class="bottom-line">
              <span>
                Watch Video
              </span>
            </div>
          </div>
        </button>
      </div>

    </div>



  </div>

</div>