<div class="wrapper" #wrapper (scroll)="scrollHandler($event)">

  <img class="bg-image" 
  ngClass.xs="bg-image-mobile"
  ngClass.sm="bg-image-mobile-landscape"
  ngClass.md="bg-image-tablet"
  ngClass.lg="bg-image-desktop"
  [ngStyle.xs]="{'min-width': onMobileDevice()}"
  [ngStyle.sm]="{'min-width': onMobileDeviceLandscape()}" 
  [ngStyle.md]="{'min-width': onTabletDevice()}"
  [ngStyle.lg]="{'min-width': onDesktopDevice()}">

  <div class="content">

    <div fxLayout="row" class="top" fxLayoutAlign="start center">
      <div fxFlex="50%" class="left-side">
        <div fxLayout="row">
          <span class="logo">

            <svg xmlns="http://www.w3.org/2000/svg" width="67" height="50" viewBox="0 0 165 123"
              style="font-weight: 700;">
              <g transform="translate(-477 -543)">
                <text id="LA" transform="translate(555 649)" fill="#fff" font-size="50"
                  font-family="Open Sans, Helvetica, sans-serif">
                  <tspan x="0" y="0">LA</tspan>
                </text>
                <g id="LA-Rectangle" transform="translate(528 591)" fill="none" stroke="#fff" stroke-width="2">
                  <rect width="111" height="75" stroke="none" />
                  <rect x="1" y="1" width="111" height="73" fill="none" />
                </g>
                <g id="LO-Rectangle" transform="translate(477 543)" fill="#fff" stroke="#fff" stroke-width="2">
                  <rect width="109" height="75" stroke="none" />
                  <rect x="1" y="1" width="109" height="73" fill="none" />
                </g>
                <text id="LO" transform="translate(499 601)" font-size="50"
                  font-family="Open Sans, Helvetica, sans-serif">
                  <tspan x="0" y="0">LO</tspan>
                </text>
              </g>
            </svg>

          </span>
        </div>
      </div>

      <div fxFlex="50%" class="right-side">
        <div class="discover-text" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px"
          [routerLink]="[ '/discover' ]">
          <div [fxHide.lt-md]="true">
            Discover
          </div>
          <div class="menu-icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="13" viewBox="0 0 25 13">
              <g transform="translate(-1337.5 -539)">
                <line x2="25" transform="translate(1337.5 539.5)" fill="none" stroke="#fff" stroke-width="1.5" />
                <line x2="13" transform="translate(1349.5 545.5)" fill="none" stroke="#fff" stroke-width="1.5" />
                <line x2="25" transform="translate(1337.5 551.5)" fill="none" stroke="#fff" stroke-width="1.5" />
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>


    <div class="title-wrapper">
      <div class="title" [ngClass.md]="{'title-md': true}" [ngClass.sm]="{'title-sm': true}"
        [ngClass.xs]="{'title-xs': true}">
        <div [ngStyle.xs]="{'height': '4rem'}" 
        [ngStyle.sm]="{'height': '5.7rem'}"> LOLA</div>
        <div>PRODUCTIONS</div>

        <div class="scroll-indicator">
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"
            [ngClass.md]="{'svg-md': true}" [ngClass.sm]="{'svg-sm': true}" [ngClass.xs]="{'svg-xs': true}" #svgElement>
            <circle #indicator id="indicator" stroke-width="3" stroke-dashoffset="0" fill="none" cx="50" cy="50"
              r="40" />
            <g id="scroll-text" data-name="scroll-text">
              <text x="20" y="55">SCROLL</text>
            </g>
          </svg>
          <div class="vertical-line" #verticalLine> </div>
        </div>
      </div>

      <div class="social" fxHide.lt-md>
        <span>Instagram</span>
        <span>Twitter</span>
        <span>Facebook</span>
      </div>
    </div>


    <div class="action-wrapper" [ngStyle.lt-sm]="{'margin-top': '0'}" 
    [ngStyle.sm]="{'margin-top': '45px'}" [ngStyle.md]="{'margin-top': '160px'}">

      <div class="name" [ngStyle.xs]="{'font-size': '3rem', 'text-align': 'right'}"
      [ngStyle.sm]="{'font-size': '4rem', 'text-align': 'right'}">

        <div class="first" #first [ngStyle.xs]="{'transform': 'matrix(1, 0, 0, 1, -300, 0)'}"
        [ngStyle.sm]="{'transform': 'matrix(1, 0, 0, 1, -400, 0)'}">Zach</div>

        <div class="last" #last [ngStyle.xs]="{'transform': 'matrix(1, 0, 0, 1, 300, 0)'}"
        [ngStyle.sm]="{'transform': 'matrix(1, 0, 0, 1, 400, 0)'}">Prestige</div>

      </div>

      <div class="action-button" #actionButton>
        <button [ngStyle.xs]="{'width': '200px'}"
        [ngStyle.sm]="{'width': '260px'}"
         [routerLink]="[ '/presentation' ]" routerLinkActive="active">
          <div class="top-side-line">
            <div class="bottom-line">
              <span>
                Watch Video
              </span>
            </div>
          </div>
        </button>
      </div>
    </div>

  </div>

</div>