<div class="wrapper">
  <img class="bg-image" src="../assets/image/landing-background.jpg" alt="landing-background">

  <div class="content">

    <div fxLayout="row" class="top">
      <div fxFlex="50%" class="left-side">Lola</div>

      <div fxFlex="50%" class="right-side">
        <span class="discover-text">
          Discover
        </span>
        <span class="menu-icon-container">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </span>
      </div>
    </div>

    <div class="social">
      <span>Instagram</span>
      <span>Twitter</span>
      <span>Facebook</span>
    </div>

    <div class="title-wrapper">
      <div class="title">
        <div>LOLA</div>
        <div>PRODUCTIONS</div>
      </div>
    </div>

  </div>

</div>