@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800");

.wrapper {
  font-family: "Open Sans", Helvetica, sans-serif;
  height: 100%;
  position: relative;
  color: #fff;
  overflow-x: hidden;

  .bg-image {
    width: 100%;
    height: auto;
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .top {
      margin: 3% 4%;

      .left-side {
        text-transform: uppercase;
      }

      .right-side {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-transform: uppercase;

        span {
          display: inline-block;
        }

        .discover-text {
          margin-right: 10px;
        }

        .menu-icon-container {
          div {
            width: 30px;
            height: 1.5px;
            background-color: #fff;
            margin: 6px 0;
          }

          .bar2 {
            width: 15px;
            transform: translateX(15px);
          }
        }
      }
    }

    .social {
      position: absolute;
      display: inline-block;
      transform: rotate(-90deg);
      left: -9%;
      top: 57%;
      text-transform: uppercase;
      font-size: 1rem;

      span {
        margin-right: 21%;
      }

      span:last-child {
        margin-right: 0;
      }
    }

    .title-wrapper {
      position: relative;
      height: 550px;

      .title {
        font-weight: 800;
        text-align: right;
        position: absolute;
        right: 4%;
        top: 0%;

        & :first-child {
          font-size: 10rem;
          height: 12rem;
        }

        & :last-child {
          font-size: 5rem;
          color: #000;
        }
      }
    }
  }
}
