<div class="wrapper" (scroll)="scrollHandler($event)">
  <img class="bg-image" src="../assets/image/landing-background.jpg" alt="landing-background">

  <div class="content">

    <div fxLayout="row" class="top">
      <div fxFlex="50%" class="left-side">Lola</div>

      <div fxFlex="50%" class="right-side">
        <span class="discover-text">
          Discover
        </span>
        <span class="menu-icon-container">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </span>
      </div>
    </div>

    <div class="social">
      <span>Instagram</span>
      <span>Twitter</span>
      <span>Facebook</span>
    </div>

    <div class="title-wrapper">
      <div class="title">
        <div>LOLA</div>
        <div>PRODUCTIONS</div>

        <div class="scroll-indicator">
          <span class="inner-text">SCROLL</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="300" height="300" viewBox="0 0 100 100">
            <circle id="indicator" stroke="#fff" stroke-width=".7" stroke-dashoffset="0" fill="none" cx="50" cy="50" r="40" />

            <!-- <g fill="#fff" text-anchor="middle"> -->
            <!-- <text id="circle-text" x="51" y="55">SCROLL</text> -->
            <!-- </g> -->
          </svg>
          <div class="vertical-line"> </div>
        </div>

      </div>
    </div>

    <div class="action-wrapper">
      <div class="name">
        <div class="first">Zach</div>
        <div class="last">Prestige</div>
      </div>
      <div>
        <!-- action button goes here -->
      </div>
    </div>



  </div>

</div>