<div class="discover-wrapper">

  <div class="discover-content">

    <div class="top" fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="33.3%" class="left-side">
        <span [routerLink]="[ '/' ]" class="logo">

          <svg xmlns="http://www.w3.org/2000/svg" width="67" height="50" viewBox="0 0 165 123"
            style="font-weight: 700;">
            <g transform="translate(-477 -543)">
              <text id="LA" transform="translate(555 649)" fill="#fff" font-size="50"
                font-family="Open Sans, Helvetica, sans-serif">
                <tspan x="0" y="0">LA</tspan>
              </text>
              <g id="LA-Rectangle" transform="translate(528 591)" fill="none" stroke="#fff" stroke-width="2">
                <rect width="111" height="75" stroke="none" />
                <rect x="1" y="1" width="111" height="73" fill="none" />
              </g>
              <g id="LO-Rectangle" transform="translate(477 543)" fill="#fff" stroke="#fff" stroke-width="2">
                <rect width="109" height="75" stroke="none" />
                <rect x="1" y="1" width="109" height="73" fill="none" />
              </g>
              <text id="LO" transform="translate(499 601)" font-size="50"
                font-family="Open Sans, Helvetica, sans-serif">
                <tspan x="0" y="0">LO</tspan>
              </text>
            </g>
          </svg>

        </span>
      </div>

      <div fxFlex="33.3%" class="center title">
        <span [@showHide]="isVisible ? 'show' : 'hide'" fxHide.lt-md>
          Projects
        </span>
      </div>

      <div fxFlex="33.3%" class="right-side">
        <span class="discover-text" fxHide.lt-md>
          Discover
        </span>
        <span class="menu-icon-container">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="13" viewBox="0 0 25 13">
            <g transform="translate(-1337.5 -539)">
              <line x2="25" transform="translate(1337.5 539.5)" fill="none" stroke="#fff" stroke-width="1.5" />
              <line x2="13" transform="translate(1349.5 545.5)" fill="none" stroke="#fff" stroke-width="1.5" />
              <line x2="25" transform="translate(1337.5 551.5)" fill="none" stroke="#fff" stroke-width="1.5" />
            </g>
          </svg>
        </span>
      </div>
    </div>


    <!-- [@routerTransition]="getState(outletRef)" -->
    <div #selectedImageContainer class="selected-image-container" fxLayout="row" fxLayout.lt-md="column-reverse"
      fxLayoutGap="20px">

      <div fxFlex="50%" fxFlex.lt-md="100%" class="content-left" [@showHide]="!isVisible ? 'show' : 'hide'">

        <span [ngStyle.lt-md]="{'position': 'absolute', 'top.px': -50}">

          <div #backButton class="back-button" fxLayout="row">

            <span class="back-arrow" (click)="backToProject()">
              <svg xmlns="http://www.w3.org/2000/svg" width="75" height="25.476" viewBox="0 0 116.738 25.476">
                <g id="back-arrow" data-name="back-arrow" transform="translate(-370.762 -333.0)">
                  <line id="Line_1" data-name="Line 1" x2="112" transform="translate(373.5 341.5)" fill="none"
                    stroke="#fff" stroke-linecap="round" stroke-width="3" />
                  <line id="Line_2" data-name="Line 2" x1="17" y2="10" transform="translate(373.5 331.5)" fill="none"
                    stroke="#fff" stroke-linecap="round" stroke-width="3" />
                  <line id="Line_3" data-name="Line 3" x1="17" y1="10" transform="translate(373.5 341.5)" fill="none"
                    stroke="#fff" stroke-linecap="round" stroke-width="3" />
                </g>
              </svg>
            </span>

            &nbsp;&nbsp;

            <span class="back-arrow-text" (click)="backToProject()">
              Back to Projects
            </span>

          </div>
        </span>

        <div class="detail-info" [ngStyle.lt-md]="{'marginTop': 0, 'marginBottom.px': 20}">
          <div class="detail-title"> {{detailTitle}}</div>
          <div class="detail-subtext">
            <p>
              {{subtext1}} <br>
              {{subtext2}}
            </p>
          </div>
          <div #infoWrapper class="info-wrapper remove-lines" id="info-wrapper" [ngStyle.lt-md]="{'width.%': 90}">

            <div class="info">
              <div class="top-side-line">
                <div class="bottom-line">
                  <span [ngStyle.lt-md]="{'padding.px': 15}">

                    <div class="info-item" fxLayout="row" fxLayoutGap.xs="5px">
                      <div fxFlex="50%">Services</div>
                      <div fxFlex="50%"> {{services}}</div>
                    </div>
                    <div class="info-item" fxLayout="row" fxLayoutGap.xs="5px">
                      <div fxFlex="50%">Directed By</div>
                      <div fxFlex="50%"> {{directedBy}} </div>
                    </div>
                    <div class="info-item" fxLayout="row" fxLayoutGap.xs="5px">
                      <div fxFlex="50%">Art Direction By</div>
                      <div fxFlex="50%">{{artDirectionBy}}</div>
                    </div>
                    <div class="info-item" fxLayout="row" fxLayoutGap.xs="5px">
                      <div fxFlex="50%">Location in</div>
                      <div fxFlex="50%">{{shotLocationIn}}</div>
                    </div>

                  </span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div fxFlex="50%" fxFlex.lt-md="100%" class="content-right">
        <div #selectedImage id="selected-image"></div>
      </div>

    </div>

    <div #photoSlide id="photo-slide" class="photo-slide" fxLayout="row" fxLayoutGap="20px"
      [@photoSlideAnimation]="isVisible ? 'discover' : 'specific'">

      <div *ngFor="let photoItem of photoItems; let ind = index" class="photo-slide-item"
        [ngClass]="{'selected': photoItem.selected}"
        (click)="isDisabled ? $event.stopPropagation() : selectedPicture(ind, photoItem); isDisabled ? false : null"
        [tabindex]="ind" #slide>
        <img [src]="photoItem.source" [alt]="photoItem.name">
        <div class="label" [@showHide]="isVisible ? 'show' : 'hide'">
          <span>

            <svg xmlns="http://www.w3.org/2000/svg" width="301.864" height="51" viewBox="0 0 301.378 51">
              <defs>
                <mask [id]="photoItem.name" x="0" y="0" width="100%" height="100%">
                  <path d="M301.13,279.366v50H565.019l36.111-25-36.111-25Z" transform="translate(-300.63 -278.866)"
                    fill="rgba(240, 255, 255, 1)" stroke="#707070" stroke-width="0" />
                  <text id="text" x="10" y="33" fill="#000"> {{photoItem.label}} </text>
                </mask>
              </defs>
              <rect id="rect" x="0" y="0" width="100%" height="100%" fill='#fff' [ngStyle]="{'mask': photoItem.mask}" />
            </svg>

          </span>
        </div>
      </div>

    </div>


  </div>
</div>