@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800");
$asset-image-path: "assets/image";

.discover-wrapper {
  font-family: "Open Sans", Helvetica, sans-serif;
  height: 100%;
  position: relative;
  color: #fff;
  overflow-x: hidden;
  background: #000;

  .discover-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .top {
      margin: 3% 4%;

      .left-side {
        text-transform: uppercase;
      }

      .right-side {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-transform: uppercase;

        span {
          display: inline-block;
        }

        .discover-text {
          margin-right: 20px;
          cursor: pointer;
        }

        .menu-icon-container {
          div {
            width: 25px;
            height: 1.5px;
            background-color: #fff;
            margin: 6px 0;
          }

          .bar2 {
            width: 12.5px;
            transform: translateX(12.5px);
          }
        }
      }
    }

    .title {
      margin-bottom: 5%;

      div {
        text-transform: uppercase;
        text-align: center;
        font-size: 2.5rem;
      }
    }

    .selected-image-container {
      margin: auto 4%;

      .back-span {
        cursor: pointer;
      }
    //   .content-right {
    //     #selected-image {
    //       // width: 504px;
    //       // height: 343px;

    //       .photo-slide {
    //         position: relative;
    //       }

    //       img {
    //         // width: 100%;
    //         // height: 100%;
    //       }
    //     }
    //   }
    }

  }

  // .photo-slide {
  //   overflow-y: hidden;
  //   max-width: 100%;
  //   margin: auto 10px;
  //   max-height: 58%;

  //   #test {
  //     position: relative;
  //     // background-image: url(http://lorempixel.com/480/200/nightlife/5);
  //     // background-image: url(https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg);
  //     // background-image: url("./../../assets/image/picture2.jpg");
  //     // content: url("./../../assets/image/picture2.jpg");
  //     // height: 343px;
  //     // width: 504px;
  //     // -webkit-background-clip: text;
  //     // -webkit-text-fill-color: transparent;

  //     .label {
  //       // position: absolute;
  //       // bottom: 9%;
  //       // left: 0;
  //       height: 15%;
  //       width: 60%;
  //       // background-color: azure;
  //       display: flex;
  //       align-items: center;

  //       // span {
  //       //   color: #000000;
  //       //   padding-left: 5%;
  //       //   font-size: 1.3rem;
  //       // }
  //     }
  //   }
  // }

  .photo-slide {
    overflow-y: hidden;
    max-width: 100%;
    margin: auto 10px;
    max-height: 58%;
  }

  div.photo-slide-item {
    width: 100%;
    height: 100%;
    position: relative;

    img {
      height: 510px;
      width: 343px;
    }

    .label {
      position: absolute;
      bottom: 17%;
      left: 0;
      height: 15%;
      width: 60%;
      display: flex;
      align-items: center;

      span {
        color: #000000;
        font-size: 1.3rem;
      }
    }

    .mySvg.label {
      background-color: transparent;
    }

    .label::before {
      content: "";
    }

    .label::after {
      content: "";
    }
  }

}
