<div class="discover-wrapper">

  <div class="discover-content">

    <div fxLayout="row" class="top">
      <div fxFlex="33.3%" class="left-side">Lola</div>

      <div fxFlex="33.3%" class="center title">
        <span [@showHide]="isVisible ? 'show' : 'hide'">
          Projects
        </span>
      </div>

      <div fxFlex="33.3%" class="right-side">
        <span class="discover-text">
          Discover
        </span>
        <span class="menu-icon-container">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </span>
      </div>
    </div>


    <!-- [@showHideHeader]="isVisible ? 'show' : 'hide'" -->
    <!-- <div fxLayout="row" class="title" id="title">
      <div fxFlex="100%">
        <span [@showHide]="isVisible ? 'show' : 'hide'">
          Projects
        </span>
      </div>
    </div> -->

    <!-- [@routerTransition]="getState(outletRef)" -->
    <div class="selected-image-container" fxLayout="row" fxLayoutGap="20px">
      <div fxFlex="50%" class="content-left" [@showHide]="!isVisible ? 'show' : 'hide'">
        <div>
          <span class="back-span" (click)="backToProject()">
            <i class="fas fa-long-arrow-alt-left"></i> &nbsp;&nbsp; Back to Projects
          </span>
        </div>
      </div>
      <div fxFlex="50%" class="content-right">
        <div id="selected-image"></div>
      </div>
    </div>


    <div fxLayout="row" id="photo-slide" class="photo-slide" fxLayoutGap="20px" fxLayoutAlign="space-around none"
      [@photoSlideAnimation]="isVisible ? 'discover' : 'specific'">

      <div class="photo-slide-item" [ngClass]="{'selected': photoItems[1 - 1]}" (click)="selectedPicture(1)" tabindex="1">
        <img src="../../assets/image/picture1.jpg" alt="picture1">
        <div class="label" [@showHide]="isVisible ? 'show' : 'hide'">
          <span>

            <svg xmlns="http://www.w3.org/2000/svg" width="301.864" height="51" viewBox="0 0 301.378 51">
              <path d="M301.13,279.366v50H565.019l36.111-25-36.111-25Z" transform="translate(-300.63 -278.866)" fill="rgba(240, 255, 255, .8)"
                stroke="#707070" stroke-width="0" />
              <text x="10" y="33" fill="#000">TAKAI - SILVER</text>
            </svg>

          </span>
        </div>
      </div>

      <div class="photo-slide-item" [ngClass]="{'selected': photoItems[2 - 1]}" (click)="selectedPicture(2)" tabindex="2">
        <img src="../../assets/image/picture2.jpg" alt="picture2">
        <div class="label" [@showHide]="isVisible ? 'show' : 'hide'">
          <span>

            <svg xmlns="http://www.w3.org/2000/svg" width="301.864" height="51" viewBox="0 0 301.378 51">
              <path d="M301.13,279.366v50H565.019l36.111-25-36.111-25Z" transform="translate(-300.63 -278.866)" fill="rgba(240, 255, 255, .8)"
                stroke="#707070" stroke-width="0" />
              <text x="10" y="33" fill="#000">TAKAI - SILVER</text>
            </svg>

          </span>
        </div>
      </div>

      <!-- style="background: 'url(https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg) no-repeat 0 0 / cover'" -->

      <!-- class="clip-text clip-text_fifteen clip-text--no-textzone" -->
      <!-- <div >
        <img src="../../assets/image/picture2.jpg" alt="picture2"> 
         <div class="label">
          <span>

            TAKAI - SILVER

          </span>
        </div>
      </div> -->

      <div class="photo-slide-item" [ngClass]="{'selected': photoItems[3 - 1]}" (click)="selectedPicture(3)" tabindex="3">
        <img src="../../assets/image/picture3.jpg" alt="picture3" width="504" height="343">
        <div class="label">
          <span>

            <svg xmlns="http://www.w3.org/2000/svg" width="301.864" height="51" viewBox="0 0 301.378 51">
              <path d="M301.13,279.366v50H565.019l36.111-25-36.111-25Z" transform="translate(-300.63 -278.866)" fill="rgba(240, 255, 255, .8)"
                stroke="#707070" stroke-width="0" />
              <text x="10" y="33" fill="#000">TAKAI - SILVER</text>
            </svg>

          </span>
        </div>
      </div>

      <div class="photo-slide-item" [ngClass]="{'selected': photoItems[4 - 1]}" (click)="selectedPicture(4)" tabindex="4">
        <img src="../../assets/image/picture4.jpg" alt="picture4" width="504" height="343">
        <div class="label">
          <span>

            <svg xmlns="http://www.w3.org/2000/svg" width="301.864" height="51" viewBox="0 0 301.378 51">
              <path d="M301.13,279.366v50H565.019l36.111-25-36.111-25Z" transform="translate(-300.63 -278.866)" fill="rgba(240, 255, 255, .8)"
                stroke="#707070" stroke-width="0" />
              <text x="10" y="33" fill="#000">TAKAI - SILVER</text>
            </svg>

          </span>
        </div>
      </div>

    </div>


  </div>
</div>