@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
// $asset-image-path: "assets/image";

.discover-wrapper {
  font-family: "Open Sans", Helvetica, sans-serif;
  height: 100%;
  position: relative;
  color: #fff;
  overflow-x: hidden;
  background: #000;

  .discover-content {
    margin: 3% 4% 0;
    // position: absolute;
    // top: 0;
    // left: 0;
    // bottom: 0;
    // right: 0;

    .top {
      // margin: 3% 4%;
      font-size: 1rem;
      text-transform: uppercase;

      .left-side {
        text-align: left;

        .logo {
          cursor: pointer;
          display: inline-block;
        }
      }

      .center.title {
        text-align: center;
      }

      .right-side {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        span {
          display: inline-block;
        }

        .discover-text {
          margin-right: 20px;
          cursor: pointer;
        }

        .menu-icon-container {
          // div {
          //   width: 25px;
          //   height: 1.5px;
          //   background-color: #fff;
          //   margin: 6px 0;
          // }

          // .bar2 {
          //   width: 12.5px;
          //   transform: translateX(12.5px);
          // }
        }
      }
    }

    .selected-image-container {
      position: absolute;
      top: 18%;
      width: 100%;

      .content-left {
        .back-button {
          font-size: 0.91rem;

          .back-arrow-text,
          .back-arrow {
            cursor: pointer;
            text-transform: uppercase;
            z-index: 1;
          }
        }

        .detail-info {
          margin-top: 6%;

          .detail-title {
            text-transform: uppercase;
            font-size: 2.6rem;
            font-weight: 700;
          }

          .detail-subtext {
            color: rgba(255, 255, 255, 0.7);
            font-style: italic;
            margin-bottom: 50px;
          }

          .info-wrapper {
            width: 75%;
            max-width: 100%;
            position: relative;

            div {
              height: 100%;
              line-height: 2.5;
              position: relative;
            }

            span {
              opacity: 0;
              display: block;
              font-size: 0.9rem;
              padding: 35px;

              .info-item {
                div:first-child {
                  font-weight: 700;
                  text-transform: uppercase;
                  color: rgba(255, 255, 255, 0.88);
                }

                div:nth-child(2) {
                  color: rgba(255, 255, 255, 0.5);
                }
              }
            }

            .top-side-line::before {
              content: "";
              position: absolute;
              top: 0;
              right: 50%;
              width: 0;
              height: 0;
              border: 1px solid white;
              border-right: none;
              border-bottom: none;
              // transition: height 0.25s ease-out 0.4s, width 0.4s ease-out;
            }

            .top-side-line::after {
              content: "";
              position: absolute;
              top: 0;
              left: 50%;
              width: 0;
              height: 0;
              border: 1px solid white;
              border-left: none;
              border-bottom: none;
              // transition: height 0.25s ease-out 0.4s, width 0.4s ease-out;
            }

            .bottom-line::before {
              content: "";
              position: absolute;
              left: 0%;
              bottom: 0;
              width: 0;
              border: 1px solid white;
              border-top: none;
              border-left: none;
              border-right: none;
              // transition: width 0.15s ease-out 0.65s;
            }

            .bottom-line::after {
              content: "";
              position: absolute;
              right: 0%;
              bottom: 0;
              width: 0;
              border: 1px solid white;
              border-top: none;
              border-left: none;
              border-right: none;
              // transition: width 0.15s ease-out 0.65s;
            }
          }

          .animate-lines {
            span {
              opacity: 1;
              transition: opacity 0.5s ease-out 0.2s;
            }

            .top-side-line::before {
              width: calc(50% - 1px);
              height: calc(100% - 2px);
              transition: height 0.25s ease-out 0.4s, width 0.4s ease-out;
            }

            .top-side-line::after {
              width: calc(50% - 1px);
              height: calc(100% - 2px);
              transition: height 0.25s ease-out 0.4s, width 0.4s ease-out;
            }

            .bottom-line::before {
              width: 50%;
              transition: width 0.15s ease-out 0.65s;
            }

            .bottom-line::after {
              width: 50%;
              transition: width 0.15s ease-out 0.65s;
            }
          }

          .remove-lines {
            span {
              opacity: 0;
              transition: opacity 0.5s ease-out 0.5s;
            }

            .bottom-line::before {
              width: 0;
              transition: width 0.15s ease-out;
            }

            .bottom-line::after {
              width: 0;
              transition: width 0.15s ease-out;
            }

            .top-side-line::before {
              width: 0;
              height: 0;
              transition: height 0.25s ease-out 0.15s, width 0.4s ease-out 0.3s;
            }

            .top-side-line::after {
              width: 0;
              height: 0;
              transition: height 0.25s ease-out 0.15s, width 0.4s ease-out 0.3s;
            }
          }
        }
      }

      .content-right {
        #selected-image {
          margin-top: 0;
        }
      }
    }
  }

  // .photo-slide {
  //   overflow-y: hidden;
  //   max-width: 100%;
  //   margin: auto 10px;
  //   max-height: 58%;

  //   #test {
  //     position: relative;
  //     // background-image: url(http://lorempixel.com/480/200/nightlife/5);
  //     // background-image: url(https://www.gettyimages.ie/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg);
  //     // background-image: url("./../../assets/image/picture2.jpg");
  //     // content: url("./../../assets/image/picture2.jpg");
  //     // height: 343px;
  //     // width: 504px;
  //     // -webkit-background-clip: text;
  //     // -webkit-text-fill-color: transparent;

  //     .label {
  //       // position: absolute;
  //       // bottom: 9%;
  //       // left: 0;
  //       height: 15%;
  //       width: 60%;
  //       // background-color: azure;
  //       display: flex;
  //       align-items: center;

  //       // span {
  //       //   color: #000000;
  //       //   padding-left: 5%;
  //       //   font-size: 1.3rem;
  //       // }
  //     }
  //   }
  // }

  .photo-slide {
    overflow-y: hidden;
    overflow-x: auto;
    max-width: 100%;
    max-height: 70%;
    display: block;
    position: relative;
  }

  .photo-slide-item {
    height: 510px;
    width: 343px;
    position: relative;
    margin-top: 75px;
    margin-right: 20px;
    display: inline-block;

    img {
      height: inherit;
      width: inherit;
    }

    .label {
      position: absolute;
      bottom: 2%;
      left: 0;
      height: 15%;
      display: flex;
      align-items: center;

      span {
        font-size: 1.7rem;

        svg #text {
          font-weight: 700;
        }
      }
    }

  }
}
